<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Qbits/IdeaProjects/Wafilife_WebAutomation/src/test/java/testcases">
        <classes>
            <class name="testcases.TestPurchase">
                <methods>
                    <include name="testPurchaseBook"/>
                </methods>
            </class>
            <class name="testcases.TestSignUp_Login_Page">
                <methods>
                    <include name="testSignup"/>
                    <include name="loginTestWithValidData"/>
                    <include name="loginTestWithInvalidData"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>